body {
  padding: 20px;
  background-color: #d6efc7;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

section {
  background-color: #96bb7c;
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
}
